Cython
IPython[all]
Pillow
colorama
cython
fire
h5py
imgaug
keras==2.1.0
lxml
matplotlib
numba
numpy
opencv-python
pandas
pygame~=1.9.6
scikit-image
scikit-learn
scipy
tensorflow-gpu==1.14.0
tensorflow==1.14.0
torch
torchvision
tqdm
imutils
filetype 
xlsxwriter
